.box{
    width: 100%;
    padding: 20px;

}
.out-box{
    width: 100%;
}
.backbutton{
    width: min-content;
    position: absolute;
}

.backbutton img{
    width: 70px;
    opacity: 50%;
}

.topline{
    width: 100%;
    display: flex;
    justify-content: center;
}
.innertopline{
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.codeline{
    width: 68%;

}
.copylink{
    width: 30%;
    background-color: rgb(189, 255, 255);

}

.codeline, .copylink{
    border: 1px solid black;
    border-radius: 20px;
    height: 40px;
    opacity: 50%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outwaiting-box{
    width: 100%;
    display: flex;
    justify-content: center;
}
.inwaiting-box{
    width: 35%;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 50px;
    margin-top:50px;
    height: 200px;
    align-items: center;
    flex-direction: column;
}

.tick{
    width: 50px;
    opacity: 50%;
    margin-top: 30px;
}
.waitingtext{
    font-size: 20px;
}
