@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Source Sans 3', sans-serif;

}
*{
    -webkit-tap-highlight-color: transparent;
}
html {
    height: 100%;
    overflow: hidden;
}
body {
    min-height: 100%;
    overflow: hidden;
    height: 500px;
    margin: 0px;
}
.background {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    overflow: hidden;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url("/docs/assets/svglogo.svg") 0 0 repeat;
    background-size: 120px;
    transform: rotate(-30deg);
}

.dropdown {
    display: inline-block;
    cursor: pointer;
    padding: 25px;


    position: absolute;
}

.menuoszlop{
    height: 50%;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 0px;
    overflow: hidden;
    transition-duration: 0.5s;
    border: 3px solid #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.menuoszlop *{
    opacity: 0%;
    transition-duration: 1s;
}
.logindiv{
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.activeoszlop{
    position: absolute;
    width: 70px;
    display: block;
    background-color: white;
    border: 3px solid #efefef;
    margin: 5px;
}
.activeoszlop *{
    opacity: 100%;
    z-index: 2;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.outer-container{
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    min-height: 100%;
}
.inner-container{
    width: 100%;
    height: 100%;
    display: flex;
}
.leftdiv, .rightdiv{
    width: 15%;
}
.leftdiv{
    height: 100%;

}

.rightdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.maindiv{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.in-box{
    width: 100%;
}

#mainlogo{
    width: 200px;
}

.box{
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 60px;
    padding: 50px;
    padding-bottom: 0px;
}

.rightdiv img{
    width: 50px;
}
.rightdiv div{
    padding-bottom: 10px;
}

.choose a{
    text-decoration: none ;
}
.menuoszlop{
    overflow: visible;
}
#login{
    position: absolute;
}
logbutt:hover{

}