.bevezetok *{
    color: #656565;
    font-weight: normal;
}
* button{
    color: black;
}
.bevezetoszoveg{
    text-justify: auto;
    font-size: 20px;
}
.out-choose{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5%;

}
.out-choose *{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.choose{

    width: 70%;
    display: flex;
    justify-content: space-between;
}
.download, .upload{
    filter: invert(36%) sepia(0%) saturate(20%) hue-rotate(332deg) brightness(94%) contrast(94%);}
.cbox{
    width: 45%;

    align-items: center;
    border-radius: 25%;
    border: 1px solid black;
    transition-duration: 0.5s;
}

.loadlogo{
    width: 40%;
}
.loadlogo img{
    width: 100%;

}

.subtype{
    font-size: 40px;
    padding-top: 10px;

}

.upload:hover {
    filter: invert(76%) sepia(0%) saturate(20%) hue-rotate(332deg) brightness(94%) contrast(94%);
    cursor: pointer;
}
.download:hover{
    filter: invert(76%) sepia(0%) saturate(20%) hue-rotate(332deg) brightness(94%) contrast(94%);
    cursor: pointer;
}

.outsimplelogodiv{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    filter: invert(65%) saturate(0%) hue-rotate(277deg) brightness(94%) contrast(79%);
}

.simplelogodiv{
    width: 100px;
}
.simplelogodiv img {
    width: 100%;

}
.conditions, .conditions p{
    filter: invert(65%) saturate(0%) hue-rotate(277deg) brightness(94%) contrast(79%);
    width: 100%;
    text-align: center;
    margin-bottom: 1px;
    font-size: 10px;}

#uploadbutt:hover{
    cursor: pointer;
}
#downloadbutt:hover{
    cursor: pointer;
}
.choose button{
    background-color: transparent;
    border: none;


    width: 100%;

    padding-bottom: 10%;
    padding-top: 13%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25%;

    transition-duration: 0.5s;
}

.asd{
    background-color: #ffffff;
}

#modalbox{
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 450px;
    text-align: center;
    padding: 80px 60px;
    font-size: 18px;
    font-weight: 500;
    background: #fff;
    border-radius: 8px;
    display: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    z-index: 25;
}

.cookies{
    width: 100px;
    margin-bottom: 15px;
}
#buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#modalbox button{
    width:  calc(100% / 2 - 10px);
}

#modalbox button{
    background: #ff5945;
    color: #fff;
    padding: 15px 0;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    width: 45%;
    border: 0;
    outline: 0;
    margin-top: 50px;
    cursor: pointer;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.block_cookies{
    background-color: rgba(255, 255, 255, 0.674);
    width: 100%;
    height: 100%;
    z-index: 20;
    position: absolute;
    display: none;
}

.sutikvegig{
    display: block;
    z-index: 21;
}

.out_adbles{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.in_adbles{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.in-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.adbles_line{
    display: flex;
    align-items: center;
    height: 120px;
    width: 100%;
}

.out_adcart{
    border: 1px solid grey;
    border-radius: 25px;
    background: rgba(222, 222, 222, 0.56);
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 98%;
    margin-top: 20px;
}


.adpic{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}
.adtitle{
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: black;

}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    justify-content: space-around;
    width: 55%;
}
.adprice{
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

}
.buy{
    border-radius: 10px;
    /*background-image: linear-gradient(to bottom right, #25ff01, yellow);*/
    background: #00ff3a;
   border: none;
    box-shadow: 1px 1px 3px black;
    width: 150px;
    height: 30px;
    font-size: 20px;
}

.buy:active{
    border: none;
    box-shadow: none;
}
.inner-container{
    flex-direction: column;
    justify-content: unset;
    align-items: center;
}
.maindiv{
    width: 100%;
}
.rightdiv{
    flex-direction: row;
}
.out-box{
    width: 100%;
    justify-content: center;
    display: flex;
}
.box{
    padding: 0px;
    width: 100%;
    border-radius: 20px;
    border: none;
    border-top: 1px solid grey;
    padding-top: 20px;
}
.welcome{
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
}
.bevezetoszoveg{
    text-align: center;
    margin-bottom: 0px;
}
html {
    height: unset;
    overflow: unset;
}
body {
    min-height: unset;
    overflow: unset;
    height: unset;
    margin: 0px;
}
#mainlogo{
    height: 100px;
    width: unset;
}
.backgroundtea {
    content: "";
    position: absolute;
    width: 100%;
    height: 150px;
    overflow: hidden;
    z-index: -1;


}
.background{
    background: url("/sutik/back.svg") 0 0 repeat;
    background-size: 100px;
    height: 200%;
    width: 200%;
}
html{
     min-height:100%;/* make sure it is at least as tall as the viewport */
     position:relative;
 }

.logoline{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-style: unset;
    color: black;
}

#cartimg{
    width: 40px;
    background: rgba(255, 255, 255, 0.68);

}
.cartdb{
    position: absolute;
    padding-left: 8px;
    padding-bottom: 2px;
}
.adpic img{
    border-radius: 15px;
    max-width: 140px;
    max-height: 100px;

}


.fromtopalert{
    height: 0px;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    transition-duration: 0.2s;
    position: fixed;
}
.alerttext{
    height: 40px;
    width: 60%;
    display: flex;
    justify-content: center;
    background: #00ff3a;
    border-radius: 15px;
    align-items: center;
    color: black;
    text-align: center;
    border: 1px solid grey;
}
.alerting{
    z-index: 30;
    height: 80px;
}
.ureskosar{
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.adblestitle{
    border-top: 1px solid grey;
    margin-top: 30px;
    padding-top: 5px;
    font-size: 30px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.cartdbin{
    width: 30px;
    margin-right: 5px;
    background: #00ff3a;
    border: 0.5px solid grey;
    color: black;
    text-align: center;
    border-radius: 15px;
}
.cart_db{
    display: flex;
    align-items: center;
}
.deleteimg{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}
.deleteimg:active{
    border: none;
}
.deleteimg img{
    width: 25px;
    color: black;
}
.titleprice{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.deleteall{
    border-radius: 15px;
    width: 30%;
    background: #00ff3a;
    border: 0.5px solid grey;
    margin-top: 10px;
    color: black;
}

.fullprice{
    display: flex;
    justify-content: center;
    border: none;
    background: none;
    text-align: center;
    border-top: 4px solid grey;
    margin-top: 30px;
    color: black;
    width: 120px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: black;

}
.cassapay{
    width: 100%;
    border-radius: 15px;
    border: 0.5px solid grey;
    height: 30px;
}
.cassapay:active{
    scale: 1.05;
}
.paydetails{
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.in_adcart{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.out_varbox{
    width: 80%;
    padding: 15px;
    border-radius: 15px;
    background: #949494;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.varbox_title{
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.feltetsor{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feltetsor input{
    width: 20px;
    height: 20px;
}
.formclass{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.custom_line{
    display: flex;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border-radius: 15px;
    border: 1px solid grey;
    background: #bdbdbd;
}
.rendelessor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order_number{
    font-size: 50px;
}
.cust_box{
    width: 80%;

    border: 3px solid black;
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.cust_title{
    width: 100%;
    text-align: center;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: black;

}
.cust_inline{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
 }
.cust_inline label{
    font-size: 20px;
}
.cust_inline input{
    width: 30px;
    height: 30px;
}
.readyrendel img{
    width: 200px;
    margin-top: 20px;
}
.readyrendel{
    display: flex;
    flex-direction: column;
    align-items: center;
}
