@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Source Sans 3', sans-serif;
}

*{
    -webkit-tap-highlight-color: transparent;
}
body {
    position: fixed; left: 0; top: 0; right: 0; bottom: 0;
}
html {
    overflow: hidden;
    height: 100%;
}
body {
    min-height: 100%;
    height: 100%;
    overflow: auto;
    margin: 0px;
}



.backgrounasdd::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url("/docs/assets/svglogo.svg") 0 0 repeat;
    transform: rotate(30deg);
}
.backgrouasdnd {
    position: relative;
    overflow: hidden;
}
.logoline{
    z-index: 3;
}
.outer-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}
.out-box{
    margin-top: 2%;
}
.background{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    overflow: hidden;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url("/docs/assets/svglogo.svg") repeat;
    background-size: 60px;
    transform: rotate(-30deg);
}


.leftdiv{
    width: 100%;
    position: absolute;
}

.dropdown {
    position: relative;
    z-index: 2;
    display: inline-block;
    cursor: pointer;
    padding: 25px;
}



.menuoszlop{
    height: 500%;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 0px;
    overflow: hidden;
    transition-duration: 0.5s;
    border: 3px solid #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuoszlop *{
    opacity: 0%;
    transition-duration: 1s;
}

.logindiv{
    padding-top: 81px;
    display: flex;
    justify-content: center;
}

.activeoszlop{
    position: absolute;
    width: 14%;
    display: block;
    background-color: white;
    border: 3px solid #efefef;
    margin: 5px;
    z-index: 1;
}

.bar1, .bar2, .bar3 {
    width: 80px;
    height: 10px;
    background-color: #333;
    margin: 16px 0;
    z-index: 11;
    transition: 0.8s;
}

.change .bar1 {
    transform: translate(0, 25px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0, -25px) rotate(45deg);
}


.outer-container{
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    min-height: 100%;
}
.inner-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}




.maindiv{
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.in-box{
    width: 100%;
    margin-top: 25p;
}

#mainlogo{
    width: 400px;
    z-index: 10;
}

.box{
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 60px;
    padding: 50px;
    padding-bottom: 0px;
}



.rightdiv img{
    width: 100px;
    padding:10px    ;
}
.rightdiv{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.choose a{
    text-decoration: none ;
}
.menuoszlop{
    overflow: visible;
}
html, body{
    height: 100%;
    width: 100%;
    z-index: 100;
    overflow: hidden;
}