<!DOCTYPE html>
<html lang="hu">

<head>
    <!--<script src="modules/grub/src/redirection-mobile.js"></script>


   <script>
       SA.redirection_mobile ({
           mobile_url : "fileup.site/m/",
           mobile_prefix : "https"
       });
   </script>-->

    <meta name="theme-color" content="#ffffff"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>FileUp</title>
    <link rel="icon" type="image/x-icon" href="docs/logo/favicon.ico">
    <link rel="manifest" href="./manifest.json">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/suti.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WS5TP44M9P"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-WS5TP44M9P');
    </script>
    <link rel="apple-touch-icon" href="test/apple-icon-180.png">

    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="apple-touch-startup-image" href="test/apple-splash-2048-2732.jpg" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-2732-2048.jpg" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-1668-2388.jpg" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-2388-1668.jpg" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-1536-2048.jpg" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-2048-1536.jpg" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-1668-2224.jpg" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-2224-1668.jpg" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-1620-2160.jpg" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-2160-1620.jpg" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-1290-2796.jpg" media="(device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-2796-1290.jpg" media="(device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-1179-2556.jpg" media="(device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-2556-1179.jpg" media="(device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-1284-2778.jpg" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-2778-1284.jpg" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-1170-2532.jpg" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-2532-1170.jpg" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-1125-2436.jpg" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-2436-1125.jpg" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-1242-2688.jpg" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-2688-1242.jpg" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-828-1792.jpg" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-1792-828.jpg" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-1242-2208.jpg" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-2208-1242.jpg" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-750-1334.jpg" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-1334-750.jpg" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-640-1136.jpg" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="test/apple-splash-1136-640.jpg" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
<!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />-->
    <script src="https://www.gstatic.com/firebasejs/7.15.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-auth.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">

</head>

<body onload="checkifcookies()">

<div class="fromtopalert">
    <div class="alerttext">fortnite battlepass megvasarolva</div>
</div>


<div class="block_cookies">

</div>

<div class="backgroundtea">
    <div class="background"></div>
</div>
<div class="outer-container">

    <div class="inner-container">


        <div class="maindiv">

            <div class="logoline"><a href="/">
                    <img id="mainlogo" src="/sutik/fileupxtea.png" alt="Logo"></a>
                <a class="cartdiv" href="/cart">
                    <img id="cartimg" src="/sutik/cart.svg" alt="kosar">
                    <div class="cartdb">0</div>
                </a>
            </div>

            <div class="out-box">
                <div class="box">
                    <div class="in-box">
                        <div class="bevezetok">
                            <h1 class="welcome">Üdvözli a FileUp - Teaház!</h1>
                            <p class="bevezetoszoveg">
                                Add le rendelésed, fizess online, vagy a kasszánál!
                            </p>
                        </div>
                        <div class="out_adbles">
                            <div class="in_adbles sos">
                                <div class="adblestitle">Sós ételek</div>

                            </div>
                            <div class="in_adbles edes">
                                <div class="adblestitle">Édes ételek</div>

                            </div>
                            <div class="in_adbles ital">
                                <div class="adblestitle">Italok</div>

                            </div>


                        </div>


                        <div class="outsimplelogodiv">
                            <div class="simplelogodiv">
                                <img src="/docs/logo/logosimple.png" alt="easy, quick, safe">
                            </div>
                        </div>
                        <div class="conditions">
                            <p>A szolgálatás igénybevételével elfogadja annak
                                általános használati feltételeit,
                                és adatkezelési nyilatkozatát.</p>
                        </div>

                    </div>
                </div>
            </div>


        </div>

        <div class="rightdiv">


            <div><a target=”_blank” href="https://discord.gg/MeqaGhc6QN"><img class="connection-logo"
                                                                              src="/docs/assets/connections/discord.png" alt=""></a></div>
            <div><a target=”_blank” href="https://github.com/Balagaro/FileUp"><img class="connection-logo"
                                                                                   src="/docs/assets/connections/github.png" alt=""></a></div>

        </div>

    </div>

</div>

<div id="modalbox">
    <img src="./docs/images/cookies.png" class="cookies">
    <p>Az oldal sütiket használ.<br> <!--<a href="https://en.wikipedia.org/wiki/HTTP_cookie">More info...</a>--> </p>
    <div id="buttons">
        <button type="button" onclick="closeModal_accept(document.querySelector('.block_cookies'),document.getElementById('modalbox'))" >Elfogadás</button>
        <button type="button" onclick="closeModal_decline(document.querySelector('.block_cookies'),document.getElementById('modalbox'))">Elutasítás</button>
    </div>

</div>
<script type="text/javascript" src="modules/socket.io/client-dist/socket.io.js"></script>
<script src="js/suti.js"></script>
<script src="/mobile/checkcookies.js"></script>
<script>


    function toggleMenu(x) {
        x.classList.toggle("change");
        document.getElementById('menuoszlop').classList.toggle('activeoszlop');

    }

    if ('serviceWorker' in navigator){
        navigator.serviceWorker.register('/service_worker.js')
    }
</script>
<script type="javascript">

    const pwaAssetGenerator = require('pwa-asset-generator');

    // Generate images over a module function call, instead of using CLI commands
    (async () => {
        const { savedImages, htmlMeta, manifestJsonContent } = await pwaAssetGenerator.generateImages(
            "./docs",
            "./docs/assets",
            "./docs/logo",
        );
    })();

    // Access to static data for Apple Device specs that are used for generating launch images
    const appleDeviceSpecsForLaunchImages = pwaAssetGenerator.appleDeviceSpecsForLaunchImages;

    function toggleMenu(x) {
        x.classList.toggle("change");
        document.getElementById('menuoszlop').classList.toggle('activeoszlop');

    }

    if ('serviceWorker' in navigator){
        navigator.serviceWorker.register('/service_worker.json')
    }
</script>


<script type="text/javascript">
    const module = {};
</script>
<script type="module">
    import { gog } from "/js/firebase.js";

    module.gog = gog;

</script>
</body>

</html>