<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/x-icon" href="/mobile/docs/logo/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/mobile/mobile_css/main.css">
    <link rel="stylesheet" href="/mobile/mobile_css/send.css">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/mobile/docs/apple/apple-icon-180.png">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="HandheldFriendly" content="true" />


    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-2048-2732.jpg" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-2732-2048.jpg" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-1668-2388.jpg" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-2388-1668.jpg" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-1536-2048.jpg" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-2048-1536.jpg" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-1668-2224.jpg" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-2224-1668.jpg" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-1620-2160.jpg" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-2160-1620.jpg" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-1290-2796.jpg" media="(device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-2796-1290.jpg" media="(device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-1179-2556.jpg" media="(device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-2556-1179.jpg" media="(device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-1284-2778.jpg" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-2778-1284.jpg" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-1170-2532.jpg" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-2532-1170.jpg" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-1125-2436.jpg" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-2436-1125.jpg" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-1242-2688.jpg" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-2688-1242.jpg" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-828-1792.jpg" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-1792-828.jpg" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-1242-2208.jpg" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-2208-1242.jpg" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-750-1334.jpg" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-1334-750.jpg" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-640-1136.jpg" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/mobile/docs/apple/apple-splash-1136-640.jpg" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">


</head>

<body onload="checkifcookies()">

<div class="block_pass">

</div>
<div class="block_cookies">

</div>
<div id="modalbox">
    <img src="/mobile/docs/images/cookies.png" class="cookies">
    <p>Az oldal optimális és jogszerű használata érdekében, az oldal sütiket és a felhasználó Internet Protocoll Address-ét használja fel. <br> <!--<a href="https://en.wikipedia.org/wiki/HTTP_cookie">More info...</a>--> </p>
    <div id="buttons">
        <button type="button" onclick="closeModal_accept()" >Elfogadás</button>
        <button type="button" onclick="closeModal_decline()">Elutasítás</button>
    </div>

</div>
<div class="outpass">
    <button id="passclose">x</button>
    <div class="inpass">
        <div class="passform" action="">
            <div class="passheader">Jelszós hitelesítés</div>
            <div class="passbar" ><input type="text" autocomplete="off"  placeholder="Adjon meg egy jelszót!" id="pass1" name="pass1" size="10" > </div>
            <div class="passbar" ><input type="text" autocomplete="off"  placeholder="Adja meg a jelszót mégegyszer!" id="pass2" name="pass2" size="10" > </div>
            <div id="status"></div>
            <div id="psub1" class="passsubmit">
                <label id="cpass1" for="submitpass" class="codeok">Ok</label>
                <input type="submitpass" id="submitpass"  value="OK">
            </div>
            <div id="psub2" class="passsubmit nonpass">
                <div id="cpass2" class="passok nonpass"><img class="keszpipa readytick" src="/mobile/docs/assets/readytick.svg"></div>
            </div>
        </div>
    </div>
</div>


<div class="background"></div>
<div class="outer-container">
    <div class="inner-container">
        <div class="leftdiv">
            <div id="menuoszlop" class="menuoszlop">

            </div>

            <div class="dropdown" onclick="toggleMenu(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>

        </div>

        <div class="maindiv">

            <div class="logoline"><a href="/m/">
                    <img id="mainlogo" src="/docs/logo/fileuplogo.png" alt=FileUP></a>
            </div>

            <div class="out-box">
                <div class="box">
                    <div class="in-box">

                        <div class="backbutton">
                            <a href="/m/"><img src="/docs/assets/backwards.png" alt="Visszagomb">
                            </a>
                        </div>
                        <div class="topline">
                            <div class="innertopline">
                                <div class="outcodeline">
                                    <input id="codeline" value="Betöltés..." readonly>
                                </div>
                                <div class="copylinediv">
                                    <div class="shorterdiv">
                                        <select name="auth" id="auth">
                                            <option value="default">Alap</option>
                                            <option value="simple">Egyszerű</option>
                                            <option value="difficult">Jelszó</option>
                                        </select>
                                    </div>
                                    <div class="copydiv">
                                        <button onclick="Masolas(document.getElementById('codeline').value)" id="copylink">
                                            másolás
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="outwaiting-box">
                            <div class="inwaiting-box" id="inwaiting">
                                <div class="waitingfor contbox active">
                                    <label class="waitingtext" >
                                        Várakozás a csatlakozásra...
                                    </label>

                                    <label class="tick" >
                                        <img src="/docs/assets/tick.svg" alt="pipa">
                                    </label></div>
                                <div class="readyfor contbox ">
                                    <label class="waitingtext" >
                                        Csatlakozva
                                    </label>
                                    <label class="tick" >
                                        <img class="tickgreen" src="/docs/assets/tick.svg" alt="pipa">
                                    </label></div>

                                <div class="fileok contbox ">

                                </div>
                            </div>

                        </div>

                        <div class="outdrag">
                            <section id="drop_zone" class="drop_zonec"><!--ondragover="dragOverHandler(event);"-->
                                <div class="dragthefiles"> <!--ondrop="dropHandler(event)" -->
                                    Húzza ide a fájlokat!
                                </div>

                                <div class="openfile">
                                    <label for="file-input" class="folder"><img src="/docs/assets/folder.svg" alt="Mappa"></label>
                                    <input  id="file-input"  type="file">
                                </div>

                            </section>
                        </div>


                    </div>
                </div>
            </div>


        </div>

        <div class="rightdiv">

            <div><a target=”_blank” href="https://discord.gg/9Gyp4gutVN"><img class="connection-logo"
                                                                              src="/docs/assets/connections/discord.png" alt=""></a></div>
            <div><a target=”_blank” href="https://github.com/Balagaro/FileUp"><img class="connection-logo"
                                                                                   src="/docs/assets/connections/github.png" alt=""></a></div>


        </div>

    </div>
</div>
<script type="text/javascript" src="/modules/socket.io/client-dist/socket.io.js"></script>
<script type="text/javascript" src="/mobile/send.js"></script>
<script src="/mobile/checkcookies.js"></script>
<script>
    l_code=`<%= longcode %>`;
    let s_code=`<%= shortcode %>`;
    document.querySelector("#codeline").value=l_code;
    socket.emit("sender-join",{
        uid:l_code
    });
    function toggleMenu(x) {
        x.classList.toggle("change");
        document.getElementById('menuoszlop').classList.toggle('activeoszlop');
    }

    function dragOverHandler(ev) {
        ev.preventDefault();
    }



    function Masolas(){
        // Get the text field
        let copyText = document.getElementById("codeline");

        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);

        // Alert the copied text

        document.querySelector("#copylink").innerHTML=`<img class="keszpipa readytick" src="/mobile/docs/assets/readytick.svg">`

    }


    /*
        function unsecuredCopyToClipboard(text) {
            const textArea = document.createElement("textarea");
            textArea.value = text;
            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();
            try {
                document.execCommand('copy');
            } catch (err) {
                console.error('Unable to copy to clipboard', err);
            }
            document.body.removeChild(textArea);
            document.querySelector("#copylink").innerHTML=`<img class="keszpipa readytick" src="docs/assets/readytick.svg">`
        }
    */

    function dropHandler(ev) {
        ev.preventDefault();
        if (ev.dataTransfer.items) {
            [...ev.dataTransfer.items].forEach((item, i) => {
                if (item.kind === "file") {
                    const file = item.getAsFile();
                }
            });
        } else {
            [...ev.dataTransfer.files].forEach((file, i) => {
            });
        }
    }


</script>
</body>

</html>